::-webkit-scrollbar {
    display: none;
  }
  

body {
    background-image: url('./files/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    height: 100vh; /* define a altura para ocupar toda a tela */
    width: 100vw; /* define a largura para ocupar toda a tela */
}

body:focus-within {
    backdrop-filter: blur(4px); /* aplica o desfoque em toda a área do body */
}

.btn
{
    background-color: rgba(209, 232, 252, 0.743);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(88, 80, 51, 0);
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: "Cascadia Mono";
    padding: 10px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: "Cascadia Mono" ;
    font-size: 20px;
    backdrop-filter: blur(5px);
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1), 0 0 6px rgba(0, 0, 0, 0.5);
    display: initial;
}

.btn:focus{
    outline: none;
    border: 1px solid rgba(88, 80, 51, 0.5); 
    zoom: 99.6%;
    transform: scale(0.96)

}


.logintext {
    color: rgb(199, 183, 133);
    font-size: 50px;
    font-family: "Cascadia Mono";
    font-weight: bold;
    padding-top: 150px;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 1);
}

.form-css {
    background-color: rgba(96, 128, 138, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    margin-top: 50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    color: rgb(217, 200, 151);
    font-family: "Cascadia Mono" ;
    font-size: 20px;
    backdrop-filter: blur(5px);
    font-weight: bold;
}
  

.input-text {
    width: 394px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(209, 232, 252, 0.743);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(88, 80, 51, 0);
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: "Cascadia Mono";
}

.input-text:focus {
    outline: none;
    border: 1px solid rgba(88, 80, 51, 0.5);
}